<div layout="column" layout-align="center center">
  <md-toolbar layout="row" md-scroll-shrink md-hue-2>
    <div flex="80" class="md-toolbar-tools">Driving History</div>
    <md-icon flex md-hue-3 class="material-icons">looks_two</md-icon>
    <p flex> / </p>
    <md-icon flex class="material-icons">looks_3</md-icon>
  </md-toolbar>

  <form ng-submit="submitHistory()">

    <div layout="column" md-padding>
      <h4>How many trips did/do you drive per week (avg of course)?</h4>
        <md-input-container flex="none" style="margin: 10px;">
          <label>I drove...</label>
          <md-select ng-model="weekTrips">
            <md-option ng-repeat="trip in trips" value="{{trip}}">{{trip}} times/week</md-option>
          </md-select>
        </md-input-container>
        <h4>How long was/is your average trip?</h4>
        <md-input-container flex="none" style="margin: 10px;">
          <label>About...</label>
          <md-select ng-model="avgTrip">
            <md-option ng-repeat="avg in avgs" value="{{avg}}">{{avg}} minutes</md-option>
          </md-select>
        </md-input-container>

        <h1 class="md-title">We use this information to show you how much time and money you’re saving by going car free.</h1>

      <!-- <p ng-if="vm.coreNeed">You currently drive -{{currentUsage.toLowerCase()}}- times per week, and you need your car
        for {{coreNeed}}.</p> -->
      <div layout="row" layout-align="center end">
        <md-button class="md-primary md-raised md-hue-2" type="submit">Nearly There</md-button>
      </div>

      </div>




    </form>
  </div>
