<div layout="column" layout-align="center center">
  <md-toolbar layout="row" md-scroll-shrink md-hue-2>
    <div flex="80" class="md-toolbar-tools">Current Usage</div>
    <md-icon flex md-hue-3 class="material-icons">looks_two</md-icon>
    <p flex> / </p>
    <md-icon flex class="material-icons">looks_4</md-icon>
  </md-toolbar>

  <form ng-submit="submitCurrent()">

    <div layout="column">
      <h1 class="md-title">Enter your current car usage:</h1>
      <div layout="column">
        <md-input-container flex="none" style="margin-right: 10px;">
          <label>Core need for your car</label>
          <md-select ng-model="coreNeed">
            <md-option ng-repeat="need in needs" value="{{need}}">{{need}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex="none">
          <label>Trips per week</label>
          <md-select ng-model="currentUsage">
            <md-option ng-repeat="trip in trips" value="{{trip}}">{{trip}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <p ng-if="vm.coreNeed">You currently drive -{{currentUsage.toLowerCase()}}- times per week, and you need your car
        for {{coreNeed}}.</p>

        <md-button class="md-secondary md-raised" type="submit">Next</md-button>

      </div>




    </form>
  </div>
