<div layout="column" layout-align="center center">
  <md-toolbar md-scroll-shrink md-hue-2>
    <div class="md-toolbar-tools">Current Usage</div>
  </md-toolbar>
</div>

<form ng-submit="submitCurrent()">

  <div layout="column">
    <h1 class="md-title">Enter your current car usage:</h1>
    <div>
      <md-input-container style="margin-right: 10px;">
        <label>Core need for your car</label>
        <md-select ng-model="coreNeed">
          <md-option ng-repeat="need in needs" value="{{need}}">{{need}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Trips per week</label>
        <md-select ng-model="currentUsage">
          <md-option ng-repeat="trip in trips" value="{{trip}}">{{trip}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <p ng-if="selectedToppings">You drive {{size.toLowerCase()}} per week, and you need your car
    for {{printSelectedToppings()}}.</p>

    <md-button type="submit">Next</md-button>

</div>




</form>
