<div layout="column" layout-align="center center">
  <md-toolbar md-scroll-shrink md-hue-2>
    <div class="md-toolbar-tools">Goal Usage</div>
  </md-toolbar>
</div>

<form ng-submit="submitGoal()">
    <div layout="column">
      <h1 class="md-title">Now enter your goal car usage:</h1>
      <div layout="column">
        <md-input-container flex="none">
          <label>Trips per week</label>
          <md-select ng-model="goalUsage">
            <md-option ng-repeat="trip in trips" value="{{trip}}">{{trip}}</md-option>
          </md-select>
        </md-input-container>
        <div layout-gt-xs="row">
      <div flex-gt-xs>
        <h4>By what date do you want to achieve this goal?</h4>
        <md-datepicker ng-model="goalDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
      </div>
      </div>
      <p ng-if="coreNeed">You currently drive {{currentUsage.toLowerCase()}} times per week, and you need your car
      for {{coreNeed}}.</p>

      <md-button type="submit">Next</md-button>

  </div>




  </form>
