<div class="instructions">
    <div class="container" layout="row">
      <!-- make this all a button to return home -->
      <div class="logo" layout="column" layout-align="center center" flex="15">
        <md-icon class="material-icons" aria-label="Close dialog">accessibility</md-icon>
        <md-icon class="material-icons" aria-label="Close dialog">drive_eta</md-icon>
      </div>
      <div class="title" layout="column" layout-align="center start" flex="85">
        <h1 id="carFreeTitle"> carFree </h1>
      </div>
    </div>
</div>
