<md-toolbar md-scroll-shrink ng-if="true" class="md-hue-2">
  <div class="md-toolbar-tools" layout="row">

    <md-button aria-label="Open sidenav" ng-click="uc.userService.toggleLeft('left')" class="md-icon-button" ng-disabled="false">
      <md-icon class="material-icons">menu</md-icon>
    </md-button>

    <div layout="column" style="height: 500px;" ng-cloak>
      <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
        md-disable-backdrop md-whiteframe="4">
        <md-toolbar class="md-theme-indigo md-tall md-hue-2"> <h1 class="md-toolbar-tools">{{uc.userObject.userName}}'s Account</h1>
        </md-toolbar>
          <md-content layout-margin> <p> This sidenav is not showing any backdrop,
            where users can click on it, to close the sidenav. </p>
            <md-button ng-click="uc.userService.toggleLeft()" class="md-accent"> Close this Sidenav </md-button>
            <md-button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</md-button>
          </md-content>
        </md-sidenav>
        </section>
      </div>
    <div class="welcomeMsg" layout="column" flex=70>
      <md-truncate>carFree</md-truncate>
    </div>
  </div>
</md-toolbar>
