<div layout="column" layout-align="center center">
<md-card>
<md-card-content>
    <md-list>
      <md-header class="md-sticky">About carFree</md-header>
      <md-divider></md-divider>
      <md-subheader class="md-no-sticky">Observed Problem: </md-subheader>
        <md-list-item> Living without a car, by choice or by circumstance, can be challenging.</md-list-item>
        <md-subheader class="md-no-sticky"> Proposed Solution: </md-subheader>
        <md-list-item> carFree -- a mobile application that helps people who do not own a car to track and see the benefits of not owning a car. The </md-list-item>
        <md-subheader class="md-no-sticky"> Sources and Shoutouts: </md-subheader>
        <md-list-item> <a ng-href="https://smokefreeapp.com/">Smoke Free app</a> -- beautiful quite smoking app, inspired much of the design and functionality of carFree</md-list-item>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <md-divider></md-divider>

        <md-list-item> <a ng-href="https://primeacademy.io/">Prime Digital Academy</a> and my fantastic Antares cohort, thanks for teaching me to see and create the Matrix.</md-list-item>
        <!-- <md-list-item> How time and money savings are calculated: <h4>coming soon</h4> </md-list-item> -->
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Contact </md-subheader>
        <md-list-item> Twitter -- <h4> <a ng-href="https://twitter.com/blueravendigitl">@blueravendigitl</a> </h4> </md-list-item>
        <md-list-item> GitHub --  <h4> <a ng-href="https://github.com/tomBrossart">tomBrossart</a> </h4> </md-list-item>
        <md-list-item> LinkedIn --  <h4> <a ng-href="https://linkedin.com/thomasbrossart">Thomas Brossart</a> </h4> </md-list-item>
        <md-subheader class="md-no-sticky"> Next steps: </md-subheader>
        <md-list-item> Add "Save Up" feature </md-list-item>
        <md-list-item> Finish adding "Edit" and "Delete" for account and resources</md-list-item>
        <md-list-item> Improve social sharing features throughout app</md-list-item>
        <md-list-item> Create a tab with missions (both fun and pragmatic) to complete as part of the carFree experience</md-list-item>
        <md-list-item> Add analyze cravings feature to allow users to drill down on patterns</md-list-item>
        <md-list-item> Refine UX and Deploy app to app stores via Ionic</md-list-item>
        <md-subheader class="md-no-sticky">  Disclaimer: </md-subheader>
        <md-list-item>carFree and the associated actions are not intended as moral highgrounding, carFree is a tool created to help people track and see how much time and money they save by embracing their carFree choice and/or circumstance. And if you've read this far, I dare you to try living without your car. Double. dog. dare. </md-list-item>

    </md-list>
  </md-card-content>
</md-card>
</div>
