<div layout="column" style="height:700px;border: 3px solid black">
  <div layout="column" layout-padding>
    <h4>Manage Your Cravings</h4>
    <p>You can see where your cravings happen and the feelins,...asdfa</p>
    <!-- <img src="back2.png" alt="Craving Icon"> -->
    <md-button flex name="button" ng-click="showAC($event)" class="md-primary md-raised">Add craving</md-button>
    <md-button flex class="md-accent md-raised" ng-click="exploreCravings()" aria-label="Explore">Analyze Craving</md-button>
  </div>
  <div>
    <h4>Dealing with cravings</h4>
      <p>Add MD grid something here to show tips on fancy grids</p>
  </div>
</div>
