
<div layout="column" style="height:700px;border: 3px solid black">
  <md-toolbar layout="row" md-scroll-shrink md-hue-2>
    <div flex="80" class="md-toolbar-tools">Review your cravings</div>
  </md-toolbar>
<!-- JAMES CODE -->

<md-table-container >
  <table md-table>
    <thead md-head>
      <!-- get row to fill page, and figure out truncating notes -->
      <div layout="row" flex="100">
      <tr md-row flex>
        <th md-column><span>Intensity</span></th>
        <th md-column><span flex>Notes</span></th>
        <!-- <th md-column>Date</th>
        <th md-column>Location</th> -->
        <th md-column></th>
      </tr>
    </thead>
    <tbody md-body >
      <tr md-row ng-repeat="crave in userObject.craveArray">
        <td md-cell>{{crave.strength_of_desire}}</td>
        <td md-cell>{{crave.notes}}</td>
        <!-- <td md-cell>{{crave}}</td> -->
        <!-- <td md-cell>{{crave.date | date}}</td>
        <td md-cell>{{crave.location}}</td> -->
        <td md-cell>
          <md-list-item>
          <md-menu class="md-secondary">
            <md-button class="md-icon-button">
              <md-icon md-menu-origin>more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button ng-click="showUC(crave, $event)">
                  View/Edit
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="deleteCraving(crave)">
                  Delete
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button href="#/resources">
                  Explore solutions
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-list-item>
          </td>
          <!-- <md-divider></md-divider> -->
      </tr>
    </div>
    </tbody>
  </table>
</md-table-container>

<div layout="row" layout-margin>
  <md-button name="button" ng-click="showAC($event)" class="md-primary md-raised">Add craving</md-button>
  <md-button class="md-accent md-raised" ng-click="analyzeCravings()" aria-label="Explore">Analyze Craving</md-button>
</div>

</div>
