<div layout="column" layout-align="center center">
  <div layout="row" layout-align="center">
    <md-card md-whiteframe="4" md-theme-indigo md-hue-2>
      <md-card-content layout-padding>
        <h1>Login</h1>
        <h4 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h4>
          <!-- NEW FORM -->
          <form name="loginForm" ng-submit="lc.login()">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Username</label>
                <input name="username" md-maxlength="50" ng-model="lc.user.username" required md-no-asterisk>
                <div ng-messages="loginForm.username.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="md-maxlength">Your password must be more than 5 and less than 30 characters long.</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Password</label>
                <input name="password" ng-model="lc.user.password" required md-no-asterisk>
              </md-input-container>
          <div layout="row" layout-align="center end">
            <md-card-actions>
              <!-- Why won't buttons seperate?  -->
              <md-button class="md-primary md-raised" type="submit">Submit</md-button>
              <md-button class="md-primary md-hue-2 md-raised"> <a href="#register"> Register </a> </md-button>
            </md-card-actions>
          </div>
          </form>
    </md-card-content>
  </md-card>
  </div>
</div>
