<div layout="column" layout-align="center center">
<md-card>
  <md-card-content>
    <md-list>
      <md-subheader class="md-no-sticky">Account Info</md-subheader>
        <!-- <md-list-item> Core need for car: {{ core_need }} </md-list-item> -->
        <md-list-item> Name:  <h4> {{ userObject.userName }} </h4> </md-list-item>
        <md-list-item> Joined carFree: <h4>{{ userObject.start_date | date }} </h4> </md-list-item>
        <md-list-item> FfC-day (Freedom from car day): <h4>{{ userObject.quitDate | date }} </h4> </md-list-item>
        <md-list-item> Motivation to use car less: <h4>{{ userObject.motivation }} </h4> </md-list-item>

      <md-divider></md-divider>


    </md-list>
    <md-card-actions layout="row" layout-align="center center">
      <h4>Coming Soon</h4>
      <md-button ng-disabled="true" class="md-primary md-raised" ng-click="editProfile($event)">Edit Profile</md-button>
      <md-button ng-disabled="true" name="button" ng-click="deleteProfile($event)" class="md-secondary md-raised">Delete Profile</md-button>
    </md-card-actions>
  </md-card-content>
</md-card>
</div>
