<!-- <div layout="column" layout-align="center center"> -->
  <md-toolbar layout="row" md-scroll-shrink md-hue-2>
    <div flex="80" class="md-toolbar-tools">Ideas for managing cravings</div>
  </md-toolbar>
    <md-grid-list
    md-cols="2" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
    md-row-height-gt-md="1:1" md-row-height="1:1"
    md-gutter="8px" md-gutter-gt-sm="4px" >

    <md-grid-tile ng-repeat="tile in uc.tiles"
    md-rowspan="{{tile.span.row}}"
    md-colspan="{{tile.span.col}}"
    md-colspan-sm="0.5"
    md-colspan-xs="0.5"
    ng-class="tile.background"
    ng-click="selectMotivation(tile.title)">
    <p>{{tile.text}}</p>
    <!-- <md-icon class="material-icons" aria-label="Close dialog">{{tile.icon}}</md-icon> -->
    <md-grid-tile-footer>
      <div layout=row layout-align="end stretch">
          <md-button href="{{tile.destination}}">
            <md-icon class="material-icons" ng-click="addFav(tile)">favorite</md-icon>
          </md-button>
        </div>
      </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>
<div layout="row" layout-margin>
  <md-button name="button" ng-click="showAC($event)" class="md-primary md-raised">Add craving</md-button>
  <md-button class="md-accent md-raised" ng-click="reviewCravings()" aria-label="Explore">Review Craving</md-button>
</div>
