<div layout="column" layout-align="center center">
<md-card>
  <md-card-header layout-margin>
    <!-- <md-card-avatar>
      <img ng-src=" {{ motivationImg }} "/>
    </md-card-avatar> -->
    <md-card-header-text>
      <span class="md-title"> <span> {{ userObject.userName }}</span>'s Resources</span>
      <!-- <span class="md-subhead"> Joined <span> {{ start_date }} </span> </span> -->
    </md-card-header-text>
  </md-card-header>
  <!-- <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ motivationMsg }}</span>
    </md-card-title-text>
  </md-card-title> -->
  <md-card-content>
    <md-list>
      <md-subheader class="md-no-sticky">Community Resources</md-subheader>
        <md-list-item> <a ng-href="https://www.reddit.com/r/carfree/">CarFree subreddit </a></md-list-item>
        <md-list-item> <a ng-href="https://www.reddit.com/r/lowcar/">LowCar subreddit </a></md-list-item>
        <md-list-item> <a ng-href="https://www.reddit.com/r/nocar/"> NoCar subreddit </a></md-list-item>
      <md-divider></md-divider>

      <md-subheader class="md-no-sticky">Bike/Transit Resources</md-subheader>
      <md-list-item> <a ng-href="http://www.bikeforums.net/living-car-free/917638-your-motivation-becoming-car-free-car-light-10.html#post19803641"> Bike Forum </a></md-list-item>
      <md-list-item> <a ng-href="https://www.metrotransit.org/"> Local Transit Websites </a></md-list-item>
      <md-list-item> <a ng-href="https://www.google.com/maps">Google Maps </a> </md-list-item>
      <md-list-item> is the greatest -- plan and save your bike/transit routes -- and even summon a Lyft/Uber straight from the app!</md-list-item>
      <md-divider></md-divider>

      <md-subheader class="md-no-sticky">Financial Resources</md-subheader>
      <md-list-item> <a ng-href="https://www.mint.com/"> Mint -- Personal Finance App </a></md-list-item>
      <md-divider></md-divider>


    </md-list>
    <md-card-actions layout="row" layout-align="center center">
      <h4>Coming Soon:</h4>
      <md-button ng-disabled="true" class="md-primary md-raised" ng-click="addResource($event)">Add a Resource</md-button>
      <md-button ng-disabled="true" name="button" ng-click="editResource($event)" class="md-warn md-raised">Edit Resources</md-button>
    </md-card-actions>
  </md-card-content>
</md-card>
</div>
