<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <h4>You've driven <span> {{ uc.thisWeeksTrips }} </span> times this week</h4>
    <h4>And your goal is to only drive <span> {{ uc.thisWeeksGoal }} </span> times this week</h4>
    <button ng-click="uc.drove(ev)" class="btn btn-default" name="button">I drove</button>
    <button class="btn btn-default" name="button">I had a craving</button>
    <br>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div>
