<!-- <div class="container">
    <h4>You've driven <span> {{ thisWeeksTrips }} </span> times this week</h4>
    <h4>And your goal is to only drive <span> {{ thisWeeksGoal }} </span> times this week</h4>
    <div class="row">
      <img ng-src=" {{ motivationImg }} "  class="md-card-image" alt="Motivational Img">
      <h6 class="md-subhead"> {{ motivationMsg }} </h6>
    </div>
    <md-button class="md-primary md-raised" ng-click="drove(ev)"name="button">I drove</md-button>
    <md-button ng-click="craving($event)" class="md-primary md-raised">
      I had a craving
    </md-button>
    <md-button class="md-secondary md-raised" ng-click="uc.userService.logout()">Log Out</md-button>
</div> -->

<md-card>
  <md-card-header layout-margin>
    <md-card-avatar>
      <img ng-src=" {{ motivationImg }} "/>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">You've driven <span> {{ thisWeeksTrips }} </span> times this week</span>
      <span class="md-subhead">And your goal is to only drive <span> {{ thisWeeksGoal }} </span> times this week</span>
    </md-card-header-text>
  </md-card-header>
  <img ng-src=" {{ motivationImg }} "  class="md-card-image" alt="Motivational Img">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ motivationMsg }}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button class="md-primary md-raised" ng-click="drove(ev)">I drove</md-button>
      <md-button name="button" ng-click="craving($event)" class="md-primary md-raised">I had a craving</md-button>
    </md-card-actions>
  </md-card-content>
</md-card>
